[submodule "src/dojo"]
	path = src/dojo
	url = https://github.com/soliton4/dojo.git
[submodule "src/dijit"]
	path = src/dijit
	url = https://github.com/dojo/dijit.git
[submodule "src/dojox"]
	path = src/dojox
	url = https://github.com/dojo/dojox.git
[submodule "src/sol"]
	path = src/sol
	url = https://github.com/soliton4/sol-amd.git
