@import "vast-shadow/vastshadow-regular.css";
body {
  border: 0;
  margin: 0;
  padding: 0;
  background-color: #207091;
  font-family: "Open Sans";
  font-weight: lighter;
}
/*@font-face {
  font-family: 'vastshadow';
  src: url('vast-shadow/VastShadow-Regular.ttf');
}*/
.head {
  color: white;
  text-shadow: 2px 2px 4px #207091;
  min-height: 200px;
  background-color: #a5d6f6;
}
.head .mainTitle {
  font-size: 80px;
  font-weight: lighter;
  font-family: 'VastShadowRegular';
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}
.head .secundaryTitle {
  text-align: center;
  font-size: 30px;
}
.head .secundaryTitle .highlighted {
  border-bottom: 1px solid White;
  box-shadow: 0px 1px 0px #207091;
}
.head .version {
  text-align: right;
  margin-right: 30px;
}
.features {
  margin-top: 20px;
  width: 800px;
  background-color: white;
  color: 404040;
  border-radius: 20px;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
}
.features .featuretext {
  font-weight: bold;
}
.features .featurehead {
  margin-top: 10px;
  padding-top: 10px;
  border: 0px;
  border-top: 1px;
  border-style: solid;
  font-weight: bold;
}
.features .featurehead .enumeration {
  font-size: 20px;
  margin-right: 10px;
}
.features .featurehead .resolved {
  color: green;
}
.features .featurehead .progress {
  color: orange;
}
.features .featurehead .pending {
  color: red;
}
