@import "vast-shadow/vastshadow-regular.css";
body {
  border: 0;
  margin: 0;
  padding: 0;
  background-color: #207091;
  font-family: "Open Sans";
  font-weight: lighter;
}
/*@font-face {
  font-family: 'vastshadow';
  src: url('vast-shadow/VastShadow-Regular.ttf');
}*/
.head {
  color: white;
  text-shadow: 2px 2px 10px  #207091;
  min-height: 200px;
  background-color: #a5d6f6;
}
.head .mainTitle {
  font-size: 80px;
  font-weight: lighter;
  font-family: 'VastShadowRegular';
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}
.head .secundaryTitle {
  text-align: center;
  font-size: 30px;
  font-weight: normal;
}
.head .secundaryTitle .highlighted {
  box-shadow: 0px 0px 10px 1px rgba(235, 117, 0, 0.5);
  background-color: rgba(235, 117, 0, 0.3);
}
.head .version {
  text-align: right;
  margin-right: 30px;
}
.features {
  margin-top: 20px;
  width: 800px;
  background-color: white;
  color: 000000;
  border-radius: 20px;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.features .featuretext {
  color: 404040;
  font-weight: bold;
}
.features .featurehead {
  color: 404040;
  margin-top: 10px;
  padding-top: 10px;
  border: 0px;
  border-top: 1px;
  border-style: solid;
  border-color: #a5d6f6;
  font-weight: bold;
}
.features .enumeration {
  font-size: 20px;
  margin-right: 10px;
}
.features .enumeration.resolved {
  color: green;
}
.features .enumeration.progress {
  color: orange;
}
.features .enumeration.pending {
  color: red;
}
